.centerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.ant-spin {
    width: 100%;
    display: block;
    i {
        width: 100px;
        height: 100px;
    }
}