.ant-menu{
     font-family: 'Proxima Nova';
    font-size: 16px ;
}
.ant-input{
     font-family: 'Proxima Nova';
    font-size: 16px ;
}
.ant-picker-input > input{
    display: none;
}
.ant-input-group-addon{
     font-family: 'Proxima Nova';
    font-size: 16px ;
}
.ant-btn{
     font-family: 'Proxima Nova';
    font-size: 16px ;
}
.ant-col{
     font-family: 'Proxima Nova';
    font-size: 16px ;
}
.ant-layout-header{
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    .ant-menu-item{
        padding: 0;
        margin: 0;
        &:hover{
            background-color: #fff;
        }
}}
.ant-layout-body{
    height: 60vh;
    background-color: #f0faf8;
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    .ant-menu-item{
        padding: 0;
        margin: 0;
        &:hover{
            background-color: #fff;
        }
}}
.ant-layout-footer{
    background-color: #fcfefd;
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    .ant-menu-item{
        padding: 0;
        margin: 0;
        &:hover{
            background-color: #fff;
        }
}}
.ant-picker-panel-container{
    position: relative;
    top: 100%;
    left: 100%;
}