body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Proxima Nova', 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
